.background{
    text-align: center;
    background-color:navy;
}

.button{
    background-color:blue;
    color:white;
    width: 150px;
    margin:auto;
    border:none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

.fb{
    color:white;
    /* font-weight: bold; */


}
.acc{
    background-color:green;
    border:none;
    padding:0.5rem
    
}
.bold{
    font-weight:bold;
}


.input{
    width:100px;
}

.color {
    height: 400px;
    width: 300px;
    background-color:white;
    position:initial;
    padding: 10px;
    margin-left:auto;
    margin-right: auto;
  } 
